﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.product-points li {
    list-style: none;
    line-height: 200%;
    padding-left: 0;
    margin-left: -25px;
}

.product-points li:before {
    font-family: 'Glyphicons Halflings';
    content: '\e067';
}
