﻿<div class="row">
    <br />
    <div class="row col-sm-12">
        <h1>
            <img src="~/Content/CodeBetweenBrand.png" style="height: 70px;" /><br />
            <small>The remote code collaboration toolset</small>
        </h1>
    </div>
    <div class="col-sm-8">
        <div style="font-size: larger;">
            <ul class="product-points">
                <li>
                    Remote peer programming without the pain
                </li>
                <li>
                    Realtime code changes without leaving your editor
                </li>
                <li>
                    Collaborate anywhere using the tools you love
                </li>
                <li>
                    Safe and secure, with end-to-end encryption
                </li>
            </ul>
        </div>
        @if (!Request.IsAuthenticated)
        {
        <br />
        <h4><a href="Home/SignUp">Register</a> to get started</h4>
        <div>Existing users <a href="Home/LogIn">log in</a></div>
        }
    </div>
</div>