﻿<br />
<h3>CodeBetween login:</h3>
<form onsubmit="return false;" class="form-horizontal" id="login-form">
    <input class="form-control" name="username" type="text" placeholder="Username" />
    <input class="form-control" name="password" type="password" placeholder="Password" />
    <input type="hidden" name="grant_type" value="password" />
    <button class="btn btn-default" onclick="login()">Log in</button>
    <p class="text-danger" id="error-text"></p>
</form>
<script>
    function arrayToObject(array) {
        var object = {};
        for (var i = 0; i < array.length; i++) {
            var item = array[i];
            object[item.name] = item.value;
        }
        return object;
    }

    function login() {
        console.log('logging in...');
        $.post('Token', arrayToObject($('#login-form').serializeArray()))
        .done(function (response) {
            //window.location = '@(Html.Raw(Url.Content("~")))';
        })
        .fail(function (errorResponse) {
            var errMsg = errorResponse.responseJSON.error_description ||
                'Log in error: ' + errorResponse.responseText;
            document.getElementById('error-text').innerText = errMsg;
        });
    }
</script>