﻿<br/>
<h3>
    Sign up to use CodeBetween services:
</h3>
<div class="row">
    <div class="col-xs-12">
        <form onsubmit="return false" class="form-horizontal" id="register-form">
            <input class="form-control" name="Email" type="email" placeholder="Email" />
            <input class="form-control" name="Password" type="password" placeholder="Password" />
            <input class="form-control" name="ConfirmPassword" type="password" placeholder="Confirm password" />

            <button class="btn btn-default" onclick="register()">Submit</button>
            <ul class="text-danger" id="error-text"></ul>
        </form>
    </div>
</div>

<script>
    function arrayToObject(array) {
        var object = {};
        for (var i = 0; i < array.length; i++) {
            var item = array[i];
            object[item.name] = item.value;
        }
        return object;
    }

    function register() {
        $.post('api/Account/Register', arrayToObject($('#register-form').serializeArray()))
            .done(function (response) {
                window.location = 'Home/Login';
            })
            .fail(function(errorResponse) {
                var errMsg = '<li>Log in error</li>';
                if (errorResponse.responseJSON.ModelState) {
                    errMsg = '';
                    for (var prop in errorResponse.responseJSON.ModelState) {
                        var values = errorResponse.responseJSON.ModelState[prop];
                        for (var i = 0; i < values.length; i++) {
                            errMsg += '<li>' + values[i] + '</li>';
                        }
                    }
                }

                document.getElementById('error-text').innerHTML = errMsg;
            });
    }
</script>